<!--<section id="preloader-container">
  LOADING: <span id="percents">0</span>%
</section>
-->
<div class="common" style="height:100%">
  <!--  <section id="order-form-container" class="hidden">
      <div id="order-form-dialog">
        <%= form_for :order, url: create_order_path do |f| %>
          Ваше имя: <%= f.text_field :name %><br />
          Ваш e-mail: <%= f.text_field :email %><br />
          <%= f.hidden_field :apartment_id %>
        <% end %>
      </div>
    </section>
  -->
    <div class="house-image-container" id="house-image-container" >
      <% (1..6).to_a.reverse.each do |floor_number| %>
        <div class="floor_number n_<%= floor_number %>"> 
          <% if floor_number==6 %>
            <%= link_to '#', :class => 'show-house-floor penthouse', 'data-floor-number' => floor_number, :dataid => floor_number do %>
              Пентхаусы<span></span>
            <% end %>
            <% end %>
          <%= link_to '#', :class => 'floor_'+floor_number.to_s+' show-house-floor', 'data-floor-number' => floor_number, :dataid => floor_number do %>
          <%=floor_number %><span></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="clear"></div>
    <div class="fasad-wrap">
      <span class="floor-text">ЭТАЖИ</span>
      <!--<a href="#" class="side-2" 
        onclick="fasad_to_2()">Внутренний двор</a>
      <a href='#' class="side-1 current_fasad" 
        onclick="fasad_to_1()">Старопетровский проезд</a>
      -->
      <div class="clear"></div>
    </div>
    <section>
      <%= @page.try(:content) %>
    </section>