  <script type="text/javascript">
    $(window).resize(function(){
      var x_y=1920/1080,
      winx_winy=$(window).width()/$(window).height()
      if (winx_winy>x_y) 
        {$('.svg_2').attr('width', $(window).width());
         $('.svg_2').attr('height', $(window).width()*1080/1920);
         $('#house-svg-container').css('margin-top',-($(window).width()*1080/1920-$(window).height())/2+'px')}
      else
        {$('.svg_2').attr('height', $(window).height());
         $('.svg_2').attr('width', $(window).height()*1920/1080);
        }
    });
  </script>
<!--<section id="preloader-container">
  LOADING: <span id="percents">0</span>%
</section>
-->
<div class="common" style="height:100%">
  <!--  <section id="order-form-container" class="hidden">
      <div id="order-form-dialog">
        <%= form_for :order, url: create_order_path do |f| %>
          Ваше имя: <%= f.text_field :name %><br />
          Ваш e-mail: <%= f.text_field :email %><br />
          <%= f.hidden_field :apartment_id %>
        <% end %>
      </div>
    </section>
  -->
    <div id="house-svg-container">
      <svg class="svg_2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1920px"
	       height="1080px" viewBox="0 0 1920 1080" enable-background="new 0 0 1920 1080" xml:space="preserve">
      <g id="svg-floor-1">
	      <path fill="none" stroke="#00DFDB" stroke-miterlimit="10" d="M476.5,884l264.167,47L1554,824.5l0.5,68.5L1056,1021l-15.333,8.167
		      l-55,11.166l-31-21.333L742,1067l-129.709-37.804L561.5,1048l-58.368-16.404L511,1012.5l-34.5-14V884z"/>
      </g>
      <g id="svg-floor-2">
	      <path fill="none" stroke="#FF5FB5" stroke-miterlimit="10" d="M477.25,793.5l264.75,9l811-31.5l1,53L740.75,929.25L477,883
		      L477.25,793.5z"/>
      </g>
      <g id="svg-floor-3">
	      <path fill="none" stroke="#2500DF" stroke-miterlimit="10" d="M478.5,791l2-99L742,679l810,40l0.5,51L742,801L478.5,791z"/>
      </g>
      <g id="svg-floor-4">
	      <path fill="none" stroke="#FFFA5F" stroke-miterlimit="10" d="M481,691l1.5-97.5l262-47.25l807,114.75l0.25,57.25l-808-40.75
		      L481,691z"/>
      </g>
      <g id="svg-floor-5">
	      <path fill="none" stroke="#DE7FFF" stroke-miterlimit="10" d="M483.75,495.5l259.5-72.25L1549.5,599.5l1.75,60L744.75,544
		      l-262.5,47.75L483.75,495.5z"/>
      </g>
      <g id="svg-floor-6">
	      <path fill="none" stroke="#7FF8FF" stroke-miterlimit="10" d="M484,494l3.667-209.666l-1.333-0.667v-3.333l132.667-72l3,1
		      l113.983-88.026l20.684-15.974l360.666,164.667l-0.333,3.333l-20.667,9.667l0.334,15.333l39-18.667l162,73.667l-19,9l-0.333,8.667
		      l32.333-12.333l113.667,52.667l-17,6.667v6.333l27-8.667l111,50.333l-15,5.667l0.334,34.667l12.333,5l0.499,17.166l5.501,1.501
		      l0.499,68.499l-806-176.75L484,494z"/>
      </g>
      </svg>
    </div>
    <div class="house-image-container" id="house-image-container" >
      <% (1..6).to_a.reverse.each do |floor_number| %>
        <div class="floor_number n_<%= floor_number %>"> 
          <% if floor_number==6 %>
            <%= link_to '#', :class => 'show-house-floor penthouse', 'data-floor-number' => floor_number, :dataid => floor_number do %>
              Пентхаусы<span></span>
            <% end %>
            <% end %>
          <%= link_to '#', :class => 'floor_'+floor_number.to_s+' show-house-floor', 'data-floor-number' => floor_number, :dataid => floor_number do %>
          <%=floor_number %><span></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="clear"></div>
    <div class="fasad-wrap">
      <!--<span class="floor-text">ЭТАЖИ</span>
      <a href="#" class="side-2" 
        onclick="fasad_to_2()">Внутренний двор</a>
      <a href='#' class="side-1 current_fasad" 
        onclick="fasad_to_1()">Старопетровский проезд</a>
      -->
      <div class="clear"></div>
    </div>
    <section>
      <%= @page.try(:content) %>
    </section>
