<script type="text/javascript">
  $(document).ready(function(){
    $.app.pages.shared.floor_plans.apartments = JSON.parse('<%= raw @apartments_json %>');
  });
</script>
<section id="preloader-container">
  LOADING: <span id="percents">0</span>%
</section>
<section id="canvas-container">
</section>
<section id="order-form-container" class="hidden">
  <div id="order-form-dialog">
    <%= form_for :order, url: create_order_path do |f| %>
      Ваше имя: <%= f.text_field :name %><br />
      Ваш e-mail: <%= f.text_field :email %><br />
      <%= f.hidden_field :apartment_id %>
    <% end %>
  </div>
</section>
<section id="floors-controls-container" class="hidden">
  <%= link_to 'Back to house', '#', class: 'back-to-house' %>
  <%= link_to 'Show 3D', '#', :class => 'toggle-dimensions', 'data-toggle-direction' => 'to-3d' %>
</section>
<section id="house-controls-container" class="hidden">
  <%= link_to 'Back to house', '#', class: 'back-to-house' %>
  <%= link_to 'Show 3D', '#', :class => 'toggle-dimensions', 'data-toggle-direction' => 'to-3d' %>
</section>
<section id="house-image-container">
  <div id="house-image-controls">
    <% (1..6).to_a.reverse.each do |floor_number| %>
      <div id="floor-<%= floor_number %>">
        <%= link_to floor_number, '#', :class => 'show-house-floor', 'data-floor-number' => floor_number %>
      </div>
    <% end %>
    ЭТАЖИ
  </div>
</section>
<section>
  <%= @page.try(:content) %>
</section>
