<script type="text/javascript">
  $(document).ready(function(){
    $.app.pages.shared.floor_plans.apartments = JSON.parse('<%= raw @apartments_json %>');
  });
</script>
<section id="preloader-container">
  LOADING: <span id="percents">0</span>%
</section>
<div class="common" style="height:100%">
  <div class="floor-control" id="floor-control">
  <!--  <section id="order-form-container" class="hidden">
      <div id="order-form-dialog">
        <%= form_for :order, url: create_order_path do |f| %>
          Ваше имя: <%= f.text_field :name %><br />
          Ваш e-mail: <%= f.text_field :email %><br />
          <%= f.hidden_field :apartment_id %>
        <% end %>
      </div>
    </section>
  -->
    <ul id="house-image-container">
      <% (1..6).to_a.reverse.each do |floor_number| %>
        <li> 
          <% if floor_number==6 %>
            <%= link_to '#', :class => 'penthouse', 'data-floor-number' => floor_number, :dataid => floor_number do %>
              Пентхаус<span></span>
            <% end %>
          <% end %>
          <%= link_to '#', :class => 'show-house-floor', 'data-floor-number' => floor_number, :dataid => floor_number do %>
          <%=floor_number %><span></span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="clear"></div>
    <div class="fasad-wrap">
      <span class="floor-text">ЭТАЖИ</span>
      <a href="#" class="side-2" 
        onclick="fasad_to_2()">Внутренний двор</a>
      <a href='#' class="side-1 current_fasad" 
        onclick="fasad_to_1()">Старопетровский проезд</a>
      <div class="clear"></div>
    </div>
    <section>
      <%= @page.try(:content) %>
    </section>
  </div>
<script type="text/javascript">
  function fasad_to_2(){
    $('#floor-1').animate({ opacity: 0 }, 2000);
    $('#inset-floor-1').animate({ opacity: 1 }, 2000);
    $('#floor-2').animate({ opacity: 0 }, 2000);
    $('#inset-floor-2').animate({ opacity: 1 }, 2000);
    $('#floor-3').animate({ opacity: 0 }, 2000);
    $('#inset-floor-3').animate({ opacity: 1 }, 2000);
    $('#floor-4').animate({ opacity: 0 }, 2000);
    $('#inset-floor-4').animate({ opacity: 1 }, 2000);
    $('#floor-5').animate({ opacity: 0 }, 2000);
    $('#inset-floor-5').animate({ opacity: 1 }, 2000);
    $('#floor-6').animate({ opacity: 0 }, 2000);
    $('#inset-floor-6').animate({ opacity: 1 }, 2000);
    $('.fasad').animate({ opacity: 0 }, 2000);
    $('.fasad-2').animate({ opacity: 1 }, 2000);
    $('#floor-control').removeClass('floor-control');
    $('#floor-control').addClass('floor-control-2');
    $('.side-1').removeClass('current_fasad');
    $('.side-2').addClass('current_fasad');
    $(".floor-control-2 ul li a")
      .mouseover(function(){
        var curFloor = parseInt($(this).attr("dataid"));
        $("#inset-floor-"+curFloor).addClass("active");
      })
      .mouseout(function(){
        $(".floor-2").removeClass("active");
      });
  };
  function fasad_to_1(){
    $('#floor-1').animate({ opacity: 1 }, 2000);
    $('#inset-floor-1').animate({ opacity: 0 }, 2000);
    $('#floor-2').animate({ opacity: 1 }, 2000);
    $('#inset-floor-2').animate({ opacity: 0 }, 2000);
    $('#floor-3').animate({ opacity: 1 }, 2000);
    $('#inset-floor-3').animate({ opacity: 0 }, 2000);
    $('#floor-4').animate({ opacity: 1 }, 2000);
    $('#inset-floor-4').animate({ opacity: 0 }, 2000);
    $('#floor-5').animate({ opacity: 1 }, 2000);
    $('#inset-floor-5').animate({ opacity: 0 }, 2000);
    $('#floor-6').animate({ opacity: 1 }, 2000);
    $('#inset-floor-6').animate({ opacity: 0 }, 2000);
    $('.fasad-2').animate({ opacity: 0 }, 2000);
    $('.fasad').animate({ opacity: 1 }, 2000);
    $('#floor-control').removeClass('floor-control-2');
    $('#floor-control').addClass('floor-control');
    $('.side-2').removeClass('current_fasad');
    $('.side-1').addClass('current_fasad');
    $(".floor-control ul li a")
    .mouseover(function(){
      var curFloor = parseInt($(this).attr("dataid"));
      $("#floor-"+curFloor).addClass("active");
    })
    .mouseout(function(){
      $(".floor").removeClass("active");
    });
  };
</script>