<div class="common">

  <%= javascript_include_tag 'thumbnailGridAnimations/modernizr.custom' %>
  <%= stylesheet_link_tag "thumbnailGridAnimations/component" %>
  <%= stylesheet_link_tag "thumbnailGridAnimations/demo" %>
  <%= stylesheet_link_tag "thumbnailGridAnimations/normalize" %>

	<div class="container">
		<section class="tt-grid-wrapper">
			<ul class="tt-grid tt-effect-stackback tt-effect-delay">
				<li><a href="#"><img src="images/sampl-1.jpg"/></a></li>
				<li><a href="#"><img src="images/sampl-2.jpg"/></a></li>
				<li><a href="#"><img src="images/sampl-3.jpg"/></a></li>
				<li><a href="#"><img src="images/sampl-4.jpg"/></a></li>
				<li><a href="#"><img src="images/sampl-5.jpg"/></a></li>
				<li><a href="#"><img src="images/sampl-6.jpg"/></a></li>
			</ul>
			<nav>
				<a class="tt-current"></a><a></a>
			</nav>
		</section>
	</div><!-- /container -->
  <img id="full-img" class="hidden" src="images/sampl-1.jpg"/>

  <%= javascript_include_tag 'thumbnailGridAnimations/classie' %>
  <%= javascript_include_tag 'thumbnailGridAnimations/thumbnailGridEffects' %>

</div>

<script type="text/javascript">
  setInterval(function () {
    $('.tt-grid-wrapper a').on('click', 'img', function (event) {
      $('#full-img').attr('src', $(this).attr('src'));
      $('#full-img').removeClass('hidden');
    });
    $('.common').on('click', '#full-img', function (event) {
      $(this).addClass('hidden');
    });
  }, 0);
</script>
