<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : 'Petrovsky Apart House' %>
  </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "style" %>
  <%#= stylesheet_link_tag "responsive" %>
  <%#= stylesheet_link_tag "component" %>
  <%#= stylesheet_link_tag "bookblock" %>
  <%= render 'shared/javascripts' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield :presentation %>

<div id="wrapper">
	<!--CONTENT-->
	<div id="header">

		<div class="fl">

			<div class="logo"><a href="/"><img src="images/logo.png" alt="" /></a></div>
      <%= render 'shared/menu' %>

		</div>

		<div class="fr">
			<div class="phone">
				8 (495) 215 222 4
			</div>
			<div class="callback">
				<a href="">ЗАКАЗАТЬ ЗВОНОК</a>
			</div>
			<div class="music">
				<a href=""></a>
			</div>
		</div>


	</div>

	<div id="center">

      <%= yield %>

			<div class="sale-wrapper">
				<div class="sale-shadow"></div>
				<div class="sale-info">
					<h3>СКИДКА <span>8%</span></h3>
					<div class="info">В ЧЕСТЬ МЕЖДУНАРОДНОГО<br />ЖЕНСКОГО ДНЯ!</div>
					<a href="" class="more">ПОДРОБНЕЕ об акции</a>
				</div>
			</div>

		</div>

	</div>

	<div id="footer">
	  <%= render 'shared/footer' %>
	</div>
	<!--END CONTENT-->
</div>
  <%#= javascript_include_tag "bookblock.min" %>
  <%#= javascript_include_tag "classie" %>
  <%#= javascript_include_tag "bookshelf" %>
</body>
</html>
